@import "./reset.scss";

.characterDetail {
  background-color: rgb(48, 159, 193);
  color: white;
  display: grid;

  grid-template-columns: 22em 15em 8em;
  height: 21em;
  width: 45em;

  &__return {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    position: fixed;
    right: 380px;
    top: 220px;
  }
  &__image {
    display: flex;
    padding-left: 40px;
    padding-bottom: 10px;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    grid-column-start: 2;
    grid-column-end: 3;

    & h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    &--list {
      & h3 {
        font-size: 18px;
        font-weight: bold;
        padding-right: 5px;
      }
      & li {
        display: flex;
        padding-bottom: 5px;
      }
    }
  }
}
