@import "./reset.scss";

.characterList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &__item {
    width: 200px;
    margin-left: 20px;
  }
  &__message {
    color: white;
    font-size: 24px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
